* {
  font-family: "Gemunu Libre", sans-serif;
  outline: none;
  line-height: 1.2em;
}

p {
  margin: 0;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

/* button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  margin: 12px;
  transition: 0.15s;
} */

/* button:hover {
  transform: translateY(-3px);
  cursor: pointer;
} */

button a i {
  font-size: 32px !important;
}

select {
  background-color: transparent;
  border: none;
  font-size: 16px;
}

select option {
  background-color: #444;
  color: #eee;
}

#selector {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 16px;
}

#time {
  font-size: 48px;
}
#date {
  font-size: 24px;
}
#temperature {
  font-size: 32px;
}
#weather-condition {
  font-size: 24px;
}
#city {
  font-size: 16px;
}

select:hover,
#city:hover {
  cursor: pointer;
  text-decoration: underline;
}

#searchbar {
  width: 450px;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  transition: 0.15s;
}

#container {
  width: 60%;
  margin: auto;
  margin-top: 13%;
}

#search-button {
  margin-left: 10px;

  background-color: #6272a4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 13px 35px;
}

@media screen and (max-width: 1000px) {
  #container {
    margin-top: 17%;
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  #time {
    font-size: 36px;
  }
  #date {
    font-size: 20px;
  }
  #container {
    width: 90%;
    margin-top: 20%;
  }
  #searchbar {
    width: 100%;
  }
  #time {
    display: block;
  }
}
